
<div class="container">
<div class="row">
<div class="col-lg-6 col-sm-12">
<div class="card green-card-header top-margin-30">
  <div class="card-header text-center  font-invert">
    <h4>Pick of the Week</h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

  </div>
</div>
</div>

<div class="col-lg-6 col-sm-12">
<div class="card green-card-header top-margin-30">
  <div class="card-header text-center  font-invert">
    <h4 class="">Sponsor</h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

  </div>
</div>

</div>

</div>
</div>
