<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card red-card-header top-margin-30">
        <div class="card-header text-center font-invert">
          <h5>Sorry!</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <span class="text-center">No happy hours found for your criteria. Try searching again.</span>
  </div>
</div>
</div>
</div>
</div>
</div>
