<div class="jumbotron jumbotron-fluid d-flex align-items-center ">
  <div class="container">
    <div class="row">
      <div class="col">
    <h1 class="display-3">Your night starts here...</h1>
    <p class="lead">We're Hong Kong's favourite Happy Hour directory</p>
      </div>
      <div class="col-sm-4">
        <div class="card red-card">
          <div class="card-body">
            <h4 class="card-title">Know of a Happy Hour?</h4>
            <p class="card-text">Help keep our community happy.</p>
            <a href="#" class="btn btn-block btn-primary btn-embossed">Add a Happy Hour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
